.App {
  text-align: center;
}

.navbar {
  display: flex;
  height: 200px;
  background: rgba(170, 99, 18, 0.37);
  color: rgb(32, 28, 28);
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.imgager {
  margin: 20px;
  max-height: 500px;
  max-width: 500px;
}

.outer-cont {
  padding-top: 10px;
  background: rgba(53, 22, 61, 0.164);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  height: 100vh;
}

.card-cont {
  border: 1px solid black;
  height: 200px;
  width: 40%;
  margin: 20px 20px;
}

.card {
}

h1 {
  margin: 0;
}
